<%= form_for(mood) do |f| %>
  <% if mood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mood.errors.count, "error") %> prohibited this mood from being saved:</h2>

      <ul>
      <% mood.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mood-radios">
    <%= f.radio_button(:mood, "love", required: "required", class: "radio-btn") %>
    <%= f.label(:mood_love, Emoji.find_by_alias("heart_eyes").raw) %>

    <%= f.radio_button(:mood, "happy", required: "required", class: "radio-btn") %>
    <%= f.label(:mood_happy, Emoji.find_by_alias("smile").raw) %>

    <%= f.radio_button(:mood, "neutral", required: "required", class: "radio-btn") %>
    <%= f.label(:mood_neutral, Emoji.find_by_alias("neutral_face").raw) %>

    <%= f.radio_button(:mood, "sad", required: "required", class: "radio-btn") %>
    <%= f.label(:mood_sad, Emoji.find_by_alias("sob").raw) %>
  </div>

  <br>
  <div class="">
    <%= f.submit class: "btn-large waves-effect waves-light" %>
  </div>

<% end %>
