<%= form_for(mood) do |f| %>
  <% if mood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mood.errors.count, "error") %> prohibited this mood from being saved:</h2>

      <ul>
      <% mood.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.radio_button(:mood, "love") %>
    <%= f.label(:mood_love, "I can feel the love today") %>

    <%= f.radio_button(:mood, "happy") %>
    <%= f.label(:mood_happy, "I am happy") %>

    <%= f.radio_button(:mood, "neutral") %>
    <%= f.label(:mood_happy, "I am neutral today") %>

    <%= f.radio_button(:mood, "sad") %>
    <%= f.label(:mood_sad, "I am sad") %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
