<section class="stats text-center">
  <h1>Your mood stats</h1>
  <% if @first %>
    <h4>
      Since <%= @first.created_at.strftime("%B %Y") %> when you started tracking your moods
    </h4>
  <% end %>

  <hr>
  <h4>You've had...</h4>
  <p>
    <%= @love.count %>
    <%= Emoji.find_by_alias("heart_eyes").raw %>
    <%= 'day'.pluralize(@love.count) %>
  </p>
  <p>
    <%= @happy.count %>
    <%= Emoji.find_by_alias("smile").raw %>
    <%= 'day'.pluralize(@happy.count) %>
  </p>
  <p>
    <%= @neutral.count %>
    <%= Emoji.find_by_alias("neutral_face").raw %>
    <%= 'day'.pluralize(@neutral.count) %>
  </p>
  <p>
    <%= @sad.count %>
    <%= Emoji.find_by_alias("sob").raw %>
    <%= 'day'.pluralize(@sad.count) %>
  </p>
<section>
