<section class="stats text-center">
  <h1>Your mood stats</h1>

  <p>
    You've had <%= @love.count %>
    <%= Emoji.find_by_alias("heart_eyes").raw %>
    <%= 'day'.pluralize(@love.count) %>
  </p>
  <p>
    You've had <%= @happy.count %>
    <%= Emoji.find_by_alias("smile").raw %>
    <%= 'day'.pluralize(@happy.count) %>
  </p>
  <p>
    You've had <%= @neutral.count %>
    <%= Emoji.find_by_alias("neutral_face").raw %>
    <%= 'day'.pluralize(@neutral.count) %>
  </p>
  <p>
    You've had <%= @sad.count %>
    <%= Emoji.find_by_alias("sob").raw %>
    <%= 'day'.pluralize(@sad.count) %>
  </p>
<section>
