<!DOCTYPE html>
<html>
  <head>
    <title>MoodDiary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Display flash messages if any -->
   <% if notice %>
     <div id="notice-wrapper">
       <p class="notice-text"><%= notice %></p>
     </div>
   <% elsif alert %>
     <div id="notice-wrapper">
       <p class="alert-text"><%= alert %></p>
     </div>
   <% end %>
   <!-- end of flash messages -->

  <div class="stats-wrapper">
    <%= link_to 'Stats', stats_path, class: "btn btn-default btn-lg" %>
    <%= link_to 'Home', new_mood_path, class: "btn btn-default btn-lg" %>

  </div>

   <div class="container">
     <%= yield %>
   </div>

  </body>
</html>
